<div class="addBtn"><a ui-sref="form"><button id="addBtn" type="button" class="btn btn-primary" ng-click="" id="add">Add</button></a></div>
<table class="table">
  <tr class="heading">
    <td><strong>ID</strong></td>
    <td><strong>Booking ID</strong></td>
    <td><strong>Longitude</strong></td>
    <td><strong>Latitude</strong></td>
    <td><strong>Actions</strong></td>
  </tr>
  <tr ng-repeat="x in mydata track by $index">
    <td>{{x.id}}</td>
    <td>{{x.booking_id}}</td>
    <td>{{x.location[0]}}</td>
    <td>{{x.location[1]}}</td>
    <td><a><button type="button" class="btn btn-warning" ng-click="editData(x)">Edit</button></a>   <button type="button" class="btn btn-danger" ng-click="delete(x)">Remove</button></td>
  </tr>
  <!--  ui-sref="formedit({id: x.id})"-->
</table>
