table, tr, td {
  /*--border: 1px solid black;*/
  border-collapse: collapse;
}
tr, td {
  padding:5px 7px 5px 7px;
}
.heading td {
  font-size: 18px;
}
table {
  /*border-top: 5px solid black;*/
}
#show {
  margin-bottom: 20px;
}
#submitBtn {
  margin-bottom: 20px;
}
.addBtn {
  float:left;
}
